.title {
    display: flex;
    justify-content: center;
    font-size: 100px;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px #aaa;
    height: 150px;
    width: 150px;
    margin: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.sub-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}